@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
    box-sizing: border-box;
    color: #E0E0B8;
    font-family: Roboto, sans-serif;
}

::placeholder {
    color: #E0E0B8;
    opacity: 0.75
}

section#form-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section#form-section button {
    background-color: #252D49;
}

section#form-section input {
    background-color: #252D49;
}